<section class="countries-stats">

    <div class="section-title">
        <% if(record==='undefined' ){ %>
            <h4>No Results Found</h4>
            <%}else{ %>
                <h2>Covid Stats for <%= record[0].countryname %>
                </h2>
    </div>
    <div>
        <div class="worldwide-stats-card">
            <h4>Total Confirmed Cases: <%= record[0].confirmed %>
            </h4>
            <h4>Total Death Cases: <%= record[0].deaths %>
            </h4>
            <h4>Total Recovered Cases: <%= record[0].recovered %>
            </h4>
            <h4>Date: <%= record[0].date %>
            </h4>

            <form action="/records/deleteRecord?_method=delete" method="POST">
                <input type="hidden" name="id" value="<%= record[0].id %>">
                <button type="submit">Delete</button>
            </form>
            <button>Update</button>
        </div>

        <form action="/records/updateRecord?_methor=put" method="POST" id="updateForm">
            <input type="hidden" name="id" value="<%=  record[0].id %>">
            <input type="text" name="country" value="<%=  record[0].name %>">
            <input type="text" name="countryCode" value="<%=  record[0].countryCode %>">
            <input type="number" name="confirmedCases" value="<%=  record[0].confirmed %>">
            <input type="number" name="deathCases" value="<%=  record[0].deaths %>">
            <input type="number" name="recoveredCases" value="<%=  record[0].recovered %>">
            <input type="text" name="date" value="<%=  record[0].date %>">
            <button type="submit">Update</button>
        </form>
        <%} %>
    </div>
</section>