<%- include('components/header') %>

    <main>
        <section class="worldwide-stats">
            <div class="section-title">
                <h2>World Total Statistics</h2>
            </div>
            <div class="worldwide-stats-cards">
                <div class="worldwide-stats-card">
                    <h3>Total Confirmed: </h3>
                    <h4>
                        <%= overallStats.TotalConfirmed %>
                    </h4>
                </div>
                <div class="worldwide-stats-card">
                    <h3>Total Deaths:</h3>
                    <h4>
                        <%= overallStats.TotalDeaths %>
                    </h4>
                </div>
                <div class="worldwide-stats-card">
                    <h3>Total Recovered: </h3>
                    <h4>
                        <%= overallStats.TotalRecovered %>
                    </h4>
                </div>
            </div>
        </section>

        <section class="country-search-form">
            <div class="section-title">
                <h2>Get Statistics for a specific country</h2>
            </div>
            <form method="POST" action="/getCountryResult">
                <input type="text" placeholder="Add country name" name="countryName" required>
                <input type="date" placeholder="From date" name="fromDate" required>
                <input type="date" placeholder="To date" name="toDate" required>

                <div>
                    <button type="submit" class="btn">Search</button>
                </div>

            </form>
        </section>
    </main>

    <%- include('components/footer') %>