<%- include('components/header') %>
    <main>


        <section class="worldwide-stats">
            <div class="section-title">
                <h2>COVID19 Statistics - Saved Records
            </div>
            <% if(recs.length===0){ %>
                <div class="not-found">
                    <h4>No Records Found</h4>
                </div>
                <%}else{ %>
                    <div class="white-stats-cards">
                        <% recs.map( record=>{ %>
                            <div class="white-stats-card">
                                <div class="white-stats-card-title">
                                    <h3>Country: <%= record.countryname %>
                                    </h3>
                                </div>
                                <div class="white-stats-card-text">
                                    <h4>Date: <%= record.date %>
                                    </h4>
                                </div>
                                <div class="white-stats-card-btn">

                                    <form method="POST" action="/records/viewRecord">
                                        <input type="hidden" value="<%= record.id %>" name="id">
                                        <button type="submit" class="btn">VIEW DETAILS</button>
                                    </form>
                                </div>
                            </div>
                            <% });} %>
            </div>

        </section>
    </main>

    <%- include('components/footer') %>